* {
  outline: 0 ! important;
  border: 0;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  color: white;
  background-color: darkslategray;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  overflow: hidden;
  font-size: 1em;
}
html, canvas {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#debugHUD {
  position: absolute;
	display:block;
	top: 10px;
	left: 10px;
  z-index: 100;
  color: black;
}